* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* outline: 1px solid red; */
}

html, body {
    margin: 0;
}

body {
    font-family: 'Lato', sans-serif;
    min-height: 100vh;
    background-color: #fff;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

a {
    color: #ecf0f1;
    text-decoration: none;
}

.container {
    display: grid;
    height: 100%;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 4fr;
}

/* Sidebar */

.sidebar {
    grid-row: 1 / -1;
    background-color: #0984e3;
    color: #ecf0f1;
}

.sidebar .title, 
.sidebar .navbar {
    width: 60%;
    margin: 0 auto;
}

.sidebar .title {
    display: grid;
    grid-template-columns: 36px auto;
    gap: 16px;
    align-items: start;

    height: 36px;
    margin: 36px auto;
}

.sidebar .title img {
    height: 36px;
}

.sidebar .title h3 {
    font-size: 32px;
    line-height: 36px;
}

.navbar {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 1fr 1fr;
}

.navbar ul {
    list-style-type: none;
}

.navbar li {
    display: grid;
    grid-template-columns: 36px auto;
    gap: 16px;
    align-items: start;

    font-size: 24px;
    line-height: 32px;
    font-weight: bold;

    height: 32px;
    margin-bottom: 12px;
}

.navbar .top,
.navbar .bottom {
    display: grid;
    align-items: center;
}

.navbar img {
    justify-self: end;
}

.list-svg {
    height: 32px;
}

/* Header */

.header {
    grid-column: 2 / -1;
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-template-rows: 1fr 1fr;

    padding: 16px 48px;
}

.searchbar-container {
    display: grid;
    grid-template-columns: 24px 50%;
    align-items: center;
    gap: 16px;
}

.icon {
    height: 24px;
}

.searchbar-container .searchbar {
    border-radius: 24px;
    border: none;
    background-color: #ecf0f1;
    height: 24px;
}

.header-top-profile {
    display: grid;
    grid-template-columns: 24px 36px auto;
    align-items: center;
    justify-items: end;
    justify-self: end;
    gap: 16px;
}

.profile-picture {
    border-radius: 50%;
}

.header-top-profile .profile-picture {
    height: 36px;
    width: 36px;
}

.header-top-profile .profile-name {
    font-weight: bold;
    font-size: 1.2rem;
}

.header-bottom-profile {
    display: grid;
    grid-template-columns: 72px auto;
    align-self: center;
    gap: 16px;
}

.header-bottom-profile .profile-picture {
    height: 72px;
    width: 72px;
}

.welcome-msg {
    display: grid;
    grid-template-rows: 1fr 2fr;
    align-self: center;
    gap: 8px;
}

.welcome-msg .welcome-hi {
    font-weight: bold;
}

.header-btns {
    display: grid;
    grid-template-columns: repeat(3, auto);
    align-items: center;
    justify-items: end;

    width: 100%;
}

.header-btns button {
    background-color: #0984e3;
    color: #ecf0f1;
    border: none;
    border-radius: 36px;
    height: 54px;
    width: 136px;

    font-size: 24px;
}

/* Main content */

.main {
    grid-column: 2;
    background-color: #ecf0f1;
}